# Build
bin/
obj/
artifacts/
packages/
*.nupkg
*.snupkg
ui/
Documentation/
TestApp/
tests/

# IDE / Tools
.vs/
.vscode/
.idea/
*.user
*.suo
*.rsuser
*.sln.docstates

# OS artifacts
.DS_Store
Thumbs.db

# Test & Coverage
TestResults/
BenchmarkDotNet.Artifacts/
coverage*/
*.cov
*.coverage
*.coveragexml

# Logs
logs/
*.log

# Misc / Backups
*.tmp
*.cache
*.bak
*.backup
*.orig

# Archives
*.zip
*.7z
*.tar