* text=auto eol=crlf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.nupkg binary
*.snupkg binary

*.sln      merge=union
*.csproj   merge=union
*.props    merge=union
*.targets  merge=union
*.vbproj   merge=union
*.fsproj   merge=union